.first-heading {
  color: red;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.first-paragraph {
  font-size: 36px;
  text-transform: capitalize;
}


.first-page{
  color: blue;
  font-family: 'Courier New', Courier, monospace;
}

.feature{
  color: green;
}